body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Merriweather';font-size: 22px;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevents scrollbars */
    position: relative;
}

.container {
    text-align: center;
    z-index: 10; /* Ensures the main cookie is on top */
}

#cookie {
    width: 200px;
    padding-top: 50px;
    cursor: url('cursor1.gif'), auto; /* Initial cursor */
    transition: transform 0.1s ease;
}

.vibrate {
    animation: vibrate 0.3s;
}

@keyframes vibrate {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    75% { transform: translate(2px, 2px); }
    100% { transform: translate(-2px, -2px); }
}

.falling-cookie {
    position: absolute;
    width: 50px;
    animation: fall linear;
    pointer-events: none; /* Prevent interaction with falling cookies */
}

@keyframes fall {
    0% {
        top: -100px;
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 0;
    }
}

.golden-cookie {
    position: absolute;
    width: 100px;
    cursor: pointer;
    z-index: 20; /* Ensure it is on top of other elements */
    animation: spin 5s infinite linear; /* Make the golden cookie spin */
    transition: opacity 1s ease; /* For smooth fading */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
